* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
}

.background-main {
  height: 100vh;
  overflow: auto;
  background-color: #02050c;
  background-image: url(/images/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  background-attachment: fixed;
}

.background-page {
  height: 100vh;
  overflow: auto;
  background-color: #02050c;
  background-image: url(/images/bg-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  background-attachment: fixed;
}

.button {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #0dd1a2;
  border-radius: 3px;
  padding: 22px 40px;
  cursor: pointer;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo__link {
  display: flex;
  align-items: center;
}

.header-logo__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 15px;
}

.header-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.header-nav__item {
  position: relative;
  padding: 16px;
}

.header-nav__item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #b0acac;
  top: 28px;
  right: -2px;
  border-radius: 50%;
}

.header-nav__item:last-child::before {
  display: none;
}

.header-nav__link {
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

.header-contacts__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid #0dd1a2;
  border-radius: 2px;
  cursor: pointer;
}

.header-contacts__telephone {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding-left: 20px;
}

.intro__wrap {
  padding-left: 50px;
}

.intro__title {
  font-size: 96px;
  line-height: 110px;
  font-weight: normal;
}

.intro__text {
  margin: 0;
}

.intro-button__wrap {
  padding-top: 70px;
}

.intro-button--order {
  margin-right: 24px;
}
