* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

.background-main {
  height: 100vh;
  overflow: auto;
  background-color: #02050c;
  background-image: url(/images/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  background-attachment: fixed;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo__link {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.header-nav__item {
  position: relative;
  padding: 16px;
}

.header-nav__item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #b0acac;
  top: 28px;
  right: -2px;
  border-radius: 50%;
}

.header-nav__item:last-child::before {
  display: none;
}

.header-nav__link {
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
}
