* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
  counter-reset: section;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
}

.background-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: #02050c;
  background-image: url(/images/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  background-attachment: fixed;
}

.background-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: #02050c;
  background-image: url(/images/bg-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  background-attachment: fixed;
}

.button {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #0dd1a2;
  border-radius: 3px;
  padding: 20px 40px;
  cursor: pointer;
}

.title {
  display: inline-block;
  padding-right: 31px;
  font-size: 44px;
  line-height: 1.4;
  font-weight: 500;
  border-bottom: 3px solid #0dd1a2;
  margin: 50px 30px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-logo__link {
  display: flex;
  align-items: center;
}

.header-logo__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 15px;
}

.header-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.header-nav__item {
  position: relative;
  padding: 10px 17px;
}

.header-nav__item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #b0acac;
  top: 22px;
  right: -2px;
  border-radius: 50%;
}

.header-nav__item:last-child::before {
  display: none;
}

.header-nav__link {
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

.header-contacts__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid #0dd1a2;
  border-radius: 2px;
  cursor: pointer;
}

.header-contacts__telephone {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding-left: 20px;
}

.footer {
  padding-bottom: 35px;
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-social {
  width: 14%;
  margin: 0 24.5% 0 0;
}

.footer-social__link {
  padding: 10px;
  opacity: 0.5;
}

.footer-social__img {
  vertical-align: middle;
}

.footer-scroll__wrap {
  margin: 0;
  width: 23%;
  text-align: center;
}

.footer-scroll {
  position: relative;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footer-scroll::before {
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 17px;
  height: 17px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.footer-scroll__arrow {
  margin: 0 auto;
}

.intro {
  flex-grow: 1;
}

.intro__wrap {
  padding: 0 55px;
}

.intro__title {
  font-size: 96px;
  line-height: 110px;
  font-weight: normal;
  margin: 0;
  padding: 151px 0 50px 0;
}

.intro__text {
  font-weight: 300;
  margin: 0;
}

.intro-button__wrap {
  padding-top: 70px;
}

.intro-button--order {
  position: relative;
  padding-left: 80px;
  margin-right: 24px;
}

.intro-button--order::before {
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: url(/images/order.svg);
  background-repeat: no-repeat;
  background-size: 31px 31px;
  width: 31px;
  height: 31px;
  top: 18px;
  left: 35px;
}

.intro-button--video {
  position: relative;
  padding-left: 80px;
}

.intro-button--video::before {
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: url(/images/video.svg);
  background-repeat: no-repeat;
  background-size: 31px 31px;
  width: 31px;
  height: 31px;
  top: 18px;
  left: 35px;
}

.product {
  flex-grow: 1;
}

.product__wrap {
  display: flex;
  padding: 0 30px;
}

.product__text {
  width: 78%;
  font-weight: 300;
  margin: 0;
  padding-bottom: 35px;
  padding-left: 30px;
}

.product-slider {
  position: relative;
  margin-top: 105px;
  z-index: 1;
}

.product-slider::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -14px;
  width: 100%;
  height: 280px;
  border: 4px solid #0dd1a2;
  box-sizing: border-box;
  z-index: -1;
}

.product-slider__title {
  position: absolute;
  bottom: 40px;
  left: -165px;
  width: 35%;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  text-align: right;
  z-index: 2;
}

.product-slider__list {
  margin-bottom: -6px;
}

.product-slider__item {
  display: none;
}

.product-slider__item--active {
  display: block;
}

.product-slider__img {
  height: 100%;
  width: auto;
  max-width: none;
}

.product-slider__button-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-slider__button {
  position: relative;
  background-color: #1c1c1c;
  border: none;
  padding: 22px 25px;
  cursor: pointer;
}

.product-slider__button--prev::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  width: 11px;
  height: 11px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  transform: translate(-50%) rotate(-45deg);
}

.product-slider__button--next::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  width: 11px;
  height: 11px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: translate(-50%) rotate(-45deg);
}

.product-slider__count {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}

.product-slider__count--current {
  opacity: 1;
}

.product-slider__count--total {
  opacity: 0.5;
  padding-right: 21px;
}

.explanation {
  flex-grow: 1;
}

.explanation__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 76px;
  grid-row-gap: 85px;
  padding: 0 56px;
}

.explanation__item {
  display: flex;
}

.explanation__item:nth-child(2n) {
  margin-top: 26px;
}

.explanation__item:nth-child(3n) {
  margin-left: 26px;
}

.explanation__item:nth-child(4n) {
  margin-left: 26px;
}

.explanation__item-img {
  margin-bottom: auto;
}

.explanation__item-title {
  font-size: 21px;
  line-height: 1.1;
  font-weight: bold;
  width: 50%;
  margin: 0 0 10px 0;
}

.explanation__item-text {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 300;
  margin: 0;
}

.explanation__box-img {
  position: relative;
  min-width: 190px;
  min-height: 130px;
  z-index: 1;
}

.explanation__box-img::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  width: 195px;
  height: 130px;
  border: 2px solid #0dd1a2;
  box-sizing: border-box;
  z-index: -1;
}

.explanation__box-img::after {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  top: 97px;
  left: -10px;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
  width: 40px;
  height: 40px;
  color: #0dd1a2;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
}

.explanation__box-text {
  padding-left: 32px;
}
