* {
   box-sizing: border-box;
}

body {
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 17px;
   line-height: 25px;
}

a {
   text-decoration: none;
}

ul {
   padding: 0;
}

li {
   list-style: none;
}

img {
   height: auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}
