* {
   box-sizing: border-box;
}

body {
   font-family: "Ubuntu", "Arial", sans-serif;
   font-size: 17px;
   line-height: 25px;
   color: $white;
}

a {
   text-decoration: none;
   color: $white;
}

ul {
   padding: 0;
}

li {
   list-style: none;
}

img {
   height: auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}

.container {
   max-width: 1250px;
   margin: 0 auto;
   padding: 0 10px;
}

.background-main {
   display: flex;
   flex-direction: column;
   height: 100vh;
   overflow: auto;
   background-color: $bg-color;
   background-image: url(/images/bg-main.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 40%;
   background-attachment: fixed;
}

.background-page {
   display: flex;
   flex-direction: column;
   height: 100vh;
   overflow: auto;
   background-color: $bg-color;
   background-image: url(/images/bg-page.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 40%;
   background-attachment: fixed;
}

.button {
   font-size: 21px;
   line-height: 24px;
   font-weight: bold;
   letter-spacing: 0.03em;
   color: $white;
   text-transform: uppercase;
   background-color: transparent;
   border: 3px solid $brand-brighter;
   border-radius: 3px;
   padding: 20px 40px;
   cursor: pointer;
}
