.explanation {
   flex-grow: 1;
}

.explanation__list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 76px;
   grid-row-gap: 85px;
   padding: 0 56px;
}

.explanation__item {
   display: flex;
   &:nth-child(2n) {
      margin-top: 26px;
   }
   &:nth-child(3n) {
      margin-left: 26px;
   }
   &:nth-child(4n) {
      margin-left: 26px;
   }
   &-img {
      margin-bottom: auto;
   }
   &-title {
      font-size: 21px;
      line-height: 1.1;
      font-weight: bold;
      width: 50%;
      margin: 0 0 10px 0;
   }
   &-text {
      font-size: 15px;
      line-height: 1.3;
      font-weight: 300;
      margin: 0;
   }
}

.explanation__box-img {
   position: relative;
   min-width: 190px;
   min-height: 130px;
   z-index: 1;
   &::before {
      content: "";
      position: absolute;
      top: -12px;
      right: -12px;
      width: 195px;
      height: 130px;
      border: 2px solid $brand-brighter;
      box-sizing: border-box;
      z-index: -1;
   }
   &::after {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      top: 97px;
      left: -10px;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
      width: 40px;
      height: 40px;
      color: $brand-brighter;
      background-color: $white;
      border-radius: 50%;
      text-align: center;
   }
}

.explanation__box-text {
   padding-left: 32px;
}
