.footer {
   padding-bottom: 35px;
}

.footer__wrap {
   display: flex;
   flex-wrap: wrap;
   padding-left: 10px;
   padding-right: 10px;
}

.footer-social {
   width: 14%;
   margin: 0 24.5% 0 0;
   &__link {
      padding: 10px;
      opacity: 0.5;
   }
   &__img {
      vertical-align: middle;
   }
}

.footer-scroll__wrap {
   margin: 0;
   width: 23%;
   text-align: center;
}

.footer-scroll {
   position: relative;
   font-size: 11px;
   line-height: 14px;
   letter-spacing: 0.12em;
   text-transform: uppercase;
   padding-bottom: 10px;
   &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      background-image: url(/images/arrow.svg);
      background-repeat: no-repeat;
      background-size: 17px 17px;
      width: 17px;
      height: 17px;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%);
   }
}

.footer-scroll__arrow {
   margin: 0 auto;
}
