.footer__wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 50%;
   padding-bottom: 35px;
}

.footer-social__link {
   padding: 10px;
   opacity: 0.5;
}

.footer-scroll {
   position: relative;
   font-size: 11px;
   line-height: 14px;
   letter-spacing: 0.12em;
   text-transform: uppercase;
   opacity: 0.5;
   &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      background-image: url(/images/arrow.svg);
      background-repeat: no-repeat;
      background-size: 17px 17px;
      width: 31px;
      height: 31px;
      top: 18px;
      left: 35px;
   }
}
