.header__wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
}

.header-logo__link {
   display: flex;
   align-items: center;
}

.header-logo__text {
   font-size: 18px;
   line-height: 21px;
   font-weight: 500;
   text-transform: uppercase;
   padding-left: 15px;
}

.header-nav {
   &__list {
      display: flex;
      flex-wrap: wrap;
   }
   &__item {
      position: relative;
      padding: 16px;
      &::before {
         content: "";
         position: absolute;
         width: 4px;
         height: 4px;
         background-color: $point;
         top: 28px;
         right: -2px;
         border-radius: 50%;
      }
      &:last-child::before {
         display: none;
      }
   }
   &__link {
      font-size: 15px;
      line-height: 17px;
      font-weight: 500;
      text-transform: uppercase;
   }
}

.header-contacts__button {
   font-size: 14px;
   line-height: 18px;
   font-weight: bold;
   text-transform: uppercase;
   color: $white;
   padding: 5px 15px;
   background-color: transparent;
   border: 2px solid $brand-brighter;
   border-radius: 2px;
   cursor: pointer;
}

.header-contacts__telephone {
   font-size: 16px;
   line-height: 20px;
   font-weight: bold;
   padding-left: 20px;
}
