.intro__wrap {
   padding-left: 50px;
}

.intro__title {
   font-size: 96px;
   line-height: 110px;
   font-weight: normal;
}

.intro__text {
   margin: 0;
}

.intro-button__wrap {
   padding-top: 70px;
}

.intro-button--order {
   margin-right: 24px;
}
