.intro {
   flex-grow: 1;
}

.intro__wrap {
   padding-left: 55px;
}

.intro__title {
   font-size: 96px;
   line-height: 110px;
   font-weight: normal;
   margin: 0;
   padding: 151px 0 50px 0;
}

.intro__text {
   font-weight: 300;
   margin: 0;
}

.intro-button__wrap {
   padding-top: 70px;
}

.intro-button--order {
   position: relative;
   padding-left: 80px;
   margin-right: 24px;
   &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      background-image: url(/images/order.svg);
      background-repeat: no-repeat;
      background-size: 31px 31px;
      width: 31px;
      height: 31px;
      top: 18px;
      left: 35px;
   }
}

.intro-button--video {
   position: relative;
   padding-left: 80px;
   &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      background-image: url(/images/video.svg);
      background-repeat: no-repeat;
      background-size: 31px 31px;
      width: 31px;
      height: 31px;
      top: 18px;
      left: 35px;
   }
}
