.product {
   flex-grow: 1;
}

.product__title {
   margin: 50px 30px;
}

.product__wrap {
   display: flex;
   padding: 0 30px;
}

.product__text {
   width: 74%;
   font-weight: 300;
   margin: 0;
   padding-bottom: 35px;
   padding-left: 30px;
}

.product-slider {
   position: relative;
   margin-top: 105px;
   z-index: 1;
   &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: -14px;
      width: 100%;
      height: 280px;
      border: 4px solid $brand-brighter;
      box-sizing: border-box;
      z-index: -1;
   }
}

.product-slider__title {
   position: absolute;
   bottom: 40px;
   left: -165px;
   width: 35%;
   font-size: 24px;
   line-height: 1.2;
   font-weight: 500;
   text-align: right;
   z-index: 2;
}

.product-slider__item {
   display: none;
}

.product-slider__item--active {
   display: block;
}
