.product__text {
   font-weight: 300;
}

.product-slider__title {
   font-size: 24px;
   line-height: 28px;
   font-weight: 500;
}

.product-slider__item {
   display: none;
}

.product-slider__item--active {
   display: block;
}

.product-slider__img {
}
